*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'PT serif', serif;
    font-size: 18px;
}
.container{
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.container::before,
.container::after {
    content: "";
    display: table;
    clear: both;
}

.col50{
    width: 50%;
    padding: 15px;
    padding-right: 15px;
    float: left;
}
.col50 img{
    height: 281px;
    width: 50%;
    
}
.col60{
    width: 50%;
    padding: 15px;
    padding-right: 15px;
    float: left;
}
.col60 img{
    height: 281px;
    width: 50%;
    
}
.col100{
    width: 100%;
    padding: 15px;
    padding-right: 15px;
    float: left;
}
.feature img{
    display: block;
    width: 100%;
  
}


/* Common */
.date-athour-common{
    bottom: 40px;
    right: 0;
}
.date-athour-common a{
    display: inline-block;
    padding:10px;
    color: #b0b0b0;
    text-decoration: none;
    display: inline-block;
}
.date-athour-common a:first-child  {
    border-right: 2px solid #b0b0b0;
    display: inline-block;
    padding-right: 15px;
}
.date-athour-common a:last-child {
    color:rgb(255, 36, 36);
    padding-left: 15px;
}
.cat-img{
    position: relative;
}
.cat.trips a{
    background: rgb(180, 0, 235);  
}
.cat.animal a{
    background: rgb(0, 235, 59);  
}
.cat.tech a{
    background: rgb(0, 0, 0);  
}

/* Header Area */
.header{
    background: rgb(255, 255, 255);
}
.logo{
    display: inline-block;
    background: rgb(255, 36, 36);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 35px;
    position: relative;
    border-top-right-radius: 100px;
}
.logo:before {
    content: "";
    position: absolute;
    background: rgb(255, 36, 36);
    top: 0;
    bottom: 0;
    left: -50000px;
    right: 100%;
}
.logo a{
    color: white;
    font-size: 24px;
    text-decoration: none;
}
.menu{
    float: right;
}
.menu ul{
    margin: 0;
    padding: 0;
}
.menu ul li{
    list-style: none;
    float: left;
    
}
.menu ul li a{
    text-decoration: none;
    display: block;
    padding-top: 23px;
    padding-bottom: 23px;
    padding: 23px 13px;
    color: rgb(255, 36, 36);

}
.menu ul li.active a{
    position: relative;
}
.menu ul li.active a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: rgb(255, 36, 36);
    bottom: 0;
    left: 0;
}

/* Banner */
.banner{
    text-align: center;
    background: url(../Images/Bg.jpg);
    background-size: 100% 100%;
    color: white ;
}
.banner-in{
    position: relative;
    padding-top: 215px;
    padding-bottom: 215px;
}
.banner-in h2{
    font-size: 35px;
    font-family: 'PT serif', serif;
}
.cat{
    position: absolute;
    bottom: 40px;
    left: 0;
}
.cat a{
    display: inline-block;
    padding:10px;
    background: rgb(255, 36, 36);
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.date-athour{
    position: absolute;
    bottom: 40px;
    right: 0;
}
.date-athour a{
    display: inline-block;
    padding:10px;
    color: white;
    text-decoration: none;
    display: inline-block;
}
.date-athour a:first-child  {
    border-right: 2px solid white;
    display: inline-block;
    padding-right: 15px;
}
.date-athour a:last-child {
    color:rgb(255, 36, 36);
    padding-left: 15px;
}

/* Subscribe */
.Subscribe{
    background: url(../Images/bg-ft.jpg);
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    background-size: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.sub-in{
    position: relative;
    display: inline-block;
    padding-bottom: 100px;
}
.submit{
    position: absolute;
    right: -82px;
    top: 0;
    bottom: 0;
}
.submit input{
    height: 48px;
    padding: 0px 30px;
    border: 0;
    border-radius: 30px;
    font-size: 18px;
    color: rgb(255, 0, 0);
    background: rgb(255, 255, 255);
}
.sub-in input[type="text"]{
    display: inline-block;
    height: 48px;
    width: 320px;
    border-radius: 30px;
    border: 0;
    padding-left: 15px;
    padding-right: 50px;
    font-size: 18px;
    background: rgb(255, 90, 90);
    color: rgb(255, 255, 255);
    
}
.sub-in input[type="text"]:focus{
    outline: 0;
}

/* footer */
.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    color: rgb(0, 0, 0);
}

